{
    "arrowParens": "always",
    "printWidth": 160,
    "proseWrap": "preserve",
    "tabWidth": 2,
    "trailingComma": "none",
    "semi": false,
    "singleQuote": true,
    "endOfLine": "auto"
}